/* Réinitialisation des styles par défaut */
* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles pour l'en-tête */
header {
    height: 20vh;
    width: 100vw;
    background-image: url(../../images/background-menu.jpg);
    background-size: cover;
    text-align: center;
}

.navbar {
  top: 0;
  left: 0;
  position: absolute;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.navbar a{
  color: #fff;
}

.navbar .logo {
  font-size: 1.2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
  list-style: none;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .nav-links ul li:active a {
  color: #007bff;
  font-weight: 600;
}

#sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: none;
}

#sidebar.hidden {
    display: block; /* Afficher lorsqu'on supprime la classe hidden */
}

#sidebar h2 {
    margin-bottom: 10px;
}

#content {
    flex: 3;
    padding: 20px;
}
  
#sections-list {
    list-style: none;
    padding: 0;
}
  
#sections-list li {
    margin-bottom: 10px;
}

#sections-list li:hover {
  margin-bottom: 10px;
  background-color: #363636;
  color: #f4f4f4;
  padding: 10px 5px;
}

#section-content {
  text-align: justify;
}

#section-title {
  margin: 15px 0;
  color: #007bff;
  font-size: large;
  font-weight: bold;
}

.sous-section-title {
  margin: 15px 0 0 0;
  padding: 0;
  color: #007bff;
  font-size: medium;
  font-weight: bold;
}

.sous-section-content {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.sous-section-list {
  list-style: square;
  margin-left: 15px;
}

button {
  padding: 5px 10px;
  color: #f4f4f4;
  background-color: #363636;
  font-size: medium;
}
  
#navigation {
    margin-top: 20px;
}
  
#navigation button {
    margin-right: 10px;
}

.contenu {
  margin-left: 15%;
  margin-right: 15%;
}

/* Pour les écrans plus petits */
@media screen and (max-width: 900px) {

  .navbar {
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }

  .navbar .logo {
    top: 25px;
    left: 25px;
    position: absolute;
  }


  .navbar .nav-links {
    top: 25px;
    right: 25px;
    position: absolute;
    display: block;
    font-weight: bold;
  }

  .contenu {
    margin-left: 2%;
    margin-right: 2%;
  }
}

/* Le CSS pour le pied de page */

footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Style pour les liens dans le pied de page */
footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
