/* Réinitialisation des styles par défaut */
* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styles pour l'en-tête */
header {
    height: 20vh;
    width: 100vw;
    background-image: url(../../images/background-menu.jpg);
    background-size: cover;
    text-align: center;
}

.navbar {
  top: 0;
  left: 0;
  position: absolute;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.navbar a{
  color: #fff;
}

.navbar .logo {
  font-size: 1.2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
  list-style: none;
}

.navbar .nav-links ul li {
  margin: 0 20px;
}

.navbar .nav-links ul li:active a {
  color: #007bff;
  font-weight: 600;
}

.exercice {
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
}

h1 {
  color: #007bff;
  font-weight: 200;
  margin: 30px 0;
  text-align: center;
}

.formFiltre{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #333;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

select{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #333;
  border-radius: 3px;
}

#epreuve {
  margin-top: 30px;
}

#epreuve ol{
  line-height: 25px;
}

/* Pour les écrans plus petits */
@media screen and (max-width: 900px) {

  .navbar {
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }

  .navbar .logo {
    top: 25px;
    left: 25px;
    position: absolute;
  }


  .navbar .nav-links {
    top: 25px;
    right: 25px;
    position: absolute;
    display: block;
    font-weight: bold;
  }

  
}

/* Le CSS pour le pied de page */

footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

/* Style pour les liens dans le pied de page */
footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
